body {
    font-family: monospace;
    margin: 0;
    background-color: rgb(255 240 228);
    width: 100vw;
}

.title-container {
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: center;
}

.title {
    /* margin-left: 100px; */
    font-size: 3em;
}

.player-name-input {
    position: absolute;
    z-index: 800;
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.589);
    height: 100vh;
    /* display: none; */
}

.player-name-input > div {
    position: absolute;
    top: 30%;
    left: 25%;
    border: 1px solid black;
    width: 1000px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-name-input > div:hover {
    box-shadow: 5px 10px;
    transition: box-shadow 0.2s ease-in-out
}

.player-one {
    /* position: relative; */
    z-index: 1000;
}

.player-name-input > div > input {
    width: 300px;
    height: 50px;
    margin: 20px;
}

.player-name-input > div > label {
    font-size: 2em;
}

.player-name-input > div > button {
    width: 200px;
    height: 35px;
    font-weight: 600;
}


.player-info-display{
    display: flex;
    margin-top: 25px;
    justify-content: space-evenly;
}


.player-container > :not(:first-child) {
    font-size: 1.5em;
}

.player-container > :first-child {
    margin-bottom: 10px;
    font-size: 2em;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.gameboard-container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: red;
    width: 10px;
    /* height: 10px; */
}



.footer-container {
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    align-items: center;
}

.footer {
    /* width: 80%; */
    padding: 15px;
    text-align: center;
    /* border-top: 1px solid black; */
}

.github-image {
    width: 25px;
    height: 25px;
}