body {
    font-family: monospace;
    margin: 0;
    background-color: rgb(255 240 228);
    width: 100vw;
    position: relative;
    height: 100%;
}

.title-container {
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: center;
}

.title {
    /* margin-left: 100px; */
    font-size: 3em;
}

.player-name-input {
    position: absolute;
    z-index: 800;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.589);
    height: 100%;
    display: flex;
    justify-content: center;
    /* display: none; */
}

.player-name-input > div {
    position: absolute;
    top: 30%;
    border: 1px solid black;
    width: 1000px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-name-input > div:hover {
    box-shadow: 5px 10px;
    transition: box-shadow 0.2s ease-in-out
}

.player-one {
    /* position: relative; */
    z-index: 1000;
}

.player-name-input > div > input {
    width: 300px;
    height: 50px;
    margin: 20px;
    font-family: monospace;
    font-size: 2em;
}

.player-name-input > div > label {
    font-size: 2em;
}

.player-name-input > div > button {
    width: 200px;
    height: 35px;
    font-weight: 600;
}

.player-info-display{
    display: flex;
    margin-top: 25px;
    justify-content: space-evenly;
}


.player-container > :not(:first-child) {
    font-size: 1.5em;
}

.player-container > :first-child {
    margin-bottom: 10px;
    font-size: 2em;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.main-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-contents > div {
    font-size: 1.5em;
}

.gameboard-container {
    margin-top: 60px;
    /* margin-left: 35vw; */
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 10px;
}

.square {
    background-color: rgb(253, 238, 178);
    width: 10px;
    outline: 1px solid black;
    text-align: center;
    font-size: 6em;
}

.square:hover {
    background-color: rgb(226, 209, 141);
    cursor: pointer;
}

.winner-container {
    position: absolute;
    top: 30%;
    width: 100%;
    height: fit-content;
    display: none;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    z-index: 600;
}

.winner-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 1000px;
    height: 250px;
    background-color: white;
}

.winner-box:hover {
    box-shadow: 5px 10px;
    transition: box-shadow 0.2s ease-in-out
}

.winner-info {
    font-size: 3em;
}

.refresh {
    background-color: rgb(253, 238, 178);
    width: 200px;
    height: 35px;
    cursor: pointer;
    border: 1px solid black;
}

.refresh:hover {
    background-color: rgb(226, 209, 141);
    box-shadow: 5px 10px;
    transition: box-shadow 0.2s ease-in-out
}

/* .winner-container {
    border: 1px solid black;
    width: 1000px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */



.footer-container {
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    align-items: center;
}

.footer {
    /* width: 80%; */
    padding: 15px;
    text-align: center;
    z-index: 500;
    background-color: rgb(255 240 228);
}

.github-image {
    width: 25px;
    height: 25px;
}